.footerIndex{
    background: #1E4639;
    box-shadow: 0 8px 32px 0 rgba(3, 3, 7, 0.37);
    backdrop-filter: blur( 15.5px );
    -webkit-backdrop-filter: blur( 15.5px );
    padding: 20px;
    margin-bottom: 0;
    margin-top: 78px;
}

.logoFooter{
    height: 1.5cm;
}

.textoFooter{
    color: black;
    font-size: 12px;
    font-family: 'PT Sans Narrow', sans-serif;
    width: 70%;
    margin: auto;
}