body{
    background-color: #EBDCB2;
}

h1{
    font-family: 'Kite One', sans-serif;
    padding: 150px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 110px;
    font-weight: lighter;
}

h2{
    color: rgb(46, 46, 46);
    font-family: 'Archivo', sans-serif;
    font-size: 30px;
    padding: 18px;
    font-weight: 2px;
}

h3{
    color:rgb(35, 89, 83);
    font-size: 20px;
    font-family:'Oswald', sans-serif;
    padding: 18px;
}

.navbar{
    background-color: #1E4639;
    box-shadow: 0 8px 32px 0 rgba(46, 39, 39, 0.481);
    backdrop-filter: blur (15.5px);
    height: 110px;
}

.logoNav{
    height: 80px;
    width: 80px;
}

.navbar-nav{
    font-size: 15px;
    a{
        color: black;
    }
}

.italoHeader{
    height: 2cm;
    padding: 15px;
}

.contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sections{
    background-image: url(../imagenes/fondoSections.jpeg);
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
}

.textoGeneral{
    color: black;
    font-size: 15px;
    font-family: 'Archivo', sans-serif;
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 15.5px );
    -webkit-backdrop-filter: blur( 15.5px );
    border-radius: 10px;
    padding: 20px;
    &:hover{
        transform: scale(1.05);
        transition: all 1.2s;
    }
}

.fa-brands{
    color: white;
    &:hover{
        color: black;
    }
}
