.contenedor{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "header"
    "logo"
    "contenido"
    "footer";
}

.inicioIndex{
    background-image: url(../imagenes/fondoChicaBaja.jpg);
    background-position: center center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 700px;
}

.header{
    grid-area: header;
}

.logo{
    grid-area: logo;
    padding: 25px;
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 15.5px );
    -webkit-backdrop-filter: blur( 15.5px );
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 180px;
    margin-bottom: 10px;
    img{
        height: 4cm;
    }
}

.contenido{
    grid-area: contenido;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.footerIndex{
    grid-area: footer;
}

ol li{
    list-style-type: disc;
    text-align: left;
    }

.partePrincipal h2 p{
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.noticias{
    font-size: 15px;
    .card{
        padding: 4px;
        background-color: beige;
    }
}

#frase{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 60px;
    font-weight: bolder;
    color: white;
}

