$iconosRedes: (
    instagram: #f41a63,
    facebook: #3a5795,
    whatsapp: #1d811a,
);

@each $red, $color in $iconosRedes {
    .fa-#{$red}{
        background-color: $color;
        border-radius: 10px;
    }
};