@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@900&family=Bayon&family=Marmelad&family=Philosopher:ital,wght@1,700&family=Saira+Condensed:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@900&family=Bayon&family=Marmelad&family=PT+Sans+Narrow&family=Philosopher:ital,wght@1,700&family=Saira+Condensed:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@900&family=Bayon&family=Kite+One&family=Marmelad&family=PT+Sans+Narrow&family=Philosopher:ital,wght@1,700&family=Saira+Condensed:wght@200;300&family=Tenor+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@900&family=Bayon&family=Kite+One&family=Marmelad&family=Oswald:wght@300;400&family=PT+Sans+Narrow&family=Philosopher:ital,wght@1,700&family=Tenor+Sans&display=swap");
body {
  background-color: #EBDCB2;
}

h1 {
  font-family: 'Kite One', sans-serif;
  padding: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: 110px;
  font-weight: lighter;
}

h2 {
  color: #2e2e2e;
  font-family: 'Archivo', sans-serif;
  font-size: 30px;
  padding: 18px;
  font-weight: 2px;
}

h3 {
  color: #235953;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  padding: 18px;
}

.navbar {
  background-color: #1E4639;
  -webkit-box-shadow: 0 8px 32px 0 rgba(46, 39, 39, 0.481);
          box-shadow: 0 8px 32px 0 rgba(46, 39, 39, 0.481);
  -webkit-backdrop-filter: blur 15.5px;
          backdrop-filter: blur 15.5px;
  height: 110px;
}

.logoNav {
  height: 80px;
  width: 80px;
}

.navbar-nav {
  font-size: 15px;
}

.navbar-nav a {
  color: black;
}

.italoHeader {
  height: 2cm;
  padding: 15px;
}

.contenido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sections {
  background-image: url(../imagenes/fondoSections.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 400px;
}

.textoGeneral {
  color: black;
  font-size: 15px;
  font-family: 'Archivo', sans-serif;
  background: rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
          box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(15.5px);
  -webkit-backdrop-filter: blur(15.5px);
  border-radius: 10px;
  padding: 20px;
}

.textoGeneral:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 1.2s;
  transition: all 1.2s;
}

.fa-brands {
  color: white;
}

.fa-brands:hover {
  color: black;
}

.contenedor {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "header" "logo" "contenido" "footer";
}

.inicioIndex {
  background-image: url(../imagenes/fondoChicaBaja.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 700px;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

.logo {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: logo;
  padding: 25px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
          box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(15.5px);
  -webkit-backdrop-filter: blur(15.5px);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 180px;
  margin-bottom: 10px;
}

.logo img {
  height: 4cm;
}

.contenido {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: contenido;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  margin: auto;
}

.footerIndex {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: footer;
}

ol li {
  list-style-type: disc;
  text-align: left;
}

.partePrincipal h2 p {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.noticias {
  font-size: 15px;
}

.noticias .card {
  padding: 4px;
  background-color: beige;
}

#frase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 60px;
  font-weight: bolder;
  color: white;
}

.footerIndex {
  background: #1E4639;
  -webkit-box-shadow: 0 8px 32px 0 rgba(3, 3, 7, 0.37);
          box-shadow: 0 8px 32px 0 rgba(3, 3, 7, 0.37);
  backdrop-filter: blur(15.5px);
  -webkit-backdrop-filter: blur(15.5px);
  padding: 20px;
  margin-bottom: 0;
  margin-top: 78px;
}

.logoFooter {
  height: 1.5cm;
}

.textoFooter {
  color: black;
  font-size: 12px;
  font-family: 'PT Sans Narrow', sans-serif;
  width: 70%;
  margin: auto;
}

.contenedorExp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  width: 80%;
  margin: auto;
}

.contenedorExp #img-titulo {
  text-align: center;
}

.imgExperiencias {
  height: 270px;
  padding: 15px;
}

.logo-img {
  padding: 20px;
}

.logo-img .imgServicios {
  height: 120px;
}

.form-floating {
  width: 60%;
  margin: auto;
}

@media (min-width: 768px) {
  header {
    width: 75%;
  }
  .navHeader li a {
    font-size: 18px;
    padding: 15px;
  }
  .logo img {
    height: 6cm;
  }
  .textoGeneral {
    font-size: 20px;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 27px;
  }
  .logoFooter {
    height: 2cm;
  }
  .textoFooter {
    font-size: 15px;
  }
  .italoHeader {
    height: 3cm;
    padding: 20px;
  }
  #img-titulo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #img-titulo img {
    height: 370px;
  }
  #img-titulo h3 {
    text-align: left;
  }
  .tituloNot {
    font-size: 30px;
  }
  .textoNot {
    font-size: 20px;
  }
  .fa-brands {
    margin-top: 15px;
    font-size: 25px;
    padding: 2px;
  }
  .noticias {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .card {
    padding: 8px;
    margin-bottom: 10px;
  }
  .navbar-nav {
    font-size: 18px;
  }
  .navbar-nav a {
    color: white;
    margin-right: 15px;
  }
}

@media (min-width: 1024px) {
  header {
    width: 80%;
  }
  .navHeader li a {
    font-size: 30px;
    padding: 30px;
  }
  h2 {
    font-size: 70px;
  }
  .logo img {
    height: 8cm;
  }
  .contenido {
    width: 60%;
  }
  .textoGeneral {
    font-size: 20px;
  }
  .logoFooter {
    height: 3cm;
  }
  .textoFooter {
    font-size: 18px;
  }
  .italoHeader {
    height: 4cm;
    padding: 30px;
  }
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 50px;
  }
  h3 {
    font-size: 45px;
  }
  #img-titulo img {
    height: 470px;
  }
  .contenedorExp {
    width: 60%;
  }
  .fa-brands {
    margin-top: 20px;
    font-size: 30px;
    padding: 4px;
  }
  .noticias {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .card {
    padding: 8px;
    margin-bottom: 20px;
  }
  .inicioIndex {
    height: 750px;
  }
  .navbar-nav {
    font-size: 18px;
  }
  .navbar-nav a {
    color: white;
    margin-right: 15px;
  }
}

.fa-instagram {
  background-color: #f41a63;
  border-radius: 10px;
}

.fa-facebook {
  background-color: #3a5795;
  border-radius: 10px;
}

.fa-whatsapp {
  background-color: #1d811a;
  border-radius: 10px;
}

* {
  padding: 0%;
  margin: 0;
}
/*# sourceMappingURL=style.css.map */